*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header { 
    background-color: rgb(27, 128, 27);
    text-align: center;
    color:white;
    padding: 20px;
    margin: 10px;

}

header nav li { 
    display: inline;

}
main h1 {
    text-align: center;
    color: white;
}
#info {
    background-color: rgb(236, 30, 30);
    text-align: center;
    padding: 20px;
    margin: 10px;
}

#sobre {

    display: flex;
    flex-direction: column;
    background-color: rgb(27, 128, 27);
    padding: 20px;
    margin: 10px;

}
#sobre h2 {
    color: white;
}
a {
    color: rgb(241, 230, 230);
}
footer img {
    margin-left: 13px;
    
}
/**********************SECTION PALESTRANTE**********************************/
#palestrantes { 
    background-color: rgb(27, 128, 27);
    text-align: center;
}
#palestrantes h2 {
    color: white;
}
#palestrantes img{
    width: 150px;
    height: 150px;
}

#programa { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(236, 30, 30);  
    padding: 20px;
    margin: 10px;  
}
#programa table {  
    display: inline-block;
}
#programa h2 {
    
    color: white;
    
}
#programa table , td {
    border: solid 1px;
    border-collapse: collapse;  /* tirar bordas duplas*/
}
#inscricao {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background-color: red;
    padding: 20px;
    margin: 10px;
}
#inscricao form {
    display: inline-block;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: rgb(236, 30, 30);
    padding: 20px;
    margin: 10px;
}


.card{
    width: 30%;
    border: solid 2px;
    display: inline-block;
    height: 220px;
    overflow: auto;
}
ul {
    display: flex;
    justify-content:space-around;
    gap: 10px;
}

